.color-orange{
  color: #e3702d;
}

.bg-color-orange{
  background: #e3702d;
}
.bg-color-oranger{
  background: #a84004;
}

.color-dark{
  color: #25262a;
}

.bg-color-dark{
  background: #25262a;
}
.bg-color-darker{
  background: #000;
}

.border-color-dark{
  border-color: #25262a
}